@model BookStore.Models.Manager

@{
    Layout = "~/Areas/Admin/Views/Shared/Admin/MainLayout.cshtml";
    ViewBag.breadcrumb = "Quản lý";
}


<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div>
                            <h4>Quản lý</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    ID quản lý
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ManagerId)
                                </dd>
                                <dt class="col-sm-2">
                                    Địa chỉ
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Address)
                                </dd>
                                <dt class="col-sm-2">
                                    Lương
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Salary)
                                </dd>
                                <dt class="col-sm-2">
                                    Kệ sách
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Bookshelf.Name)
                                </dd>
                            </dl>
                            <a asp-action="Index">Quay lại danh sách quản lý</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>