@model BookStore.Models.Book

@{
    Layout = "~/Views/Shared/Admin/MainLayout.cshtml";
    ViewBag.breadcrumb = "Sách";
}

<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Thêm sách</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form asp-controller="Book" asp-action="CreatePost" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Name">Tên sách:</label>
                                <input asp-for="Name" type="text" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Content">Nội dung:</label>
                                <input asp-for="Content" type="text" class="form-control">
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Cost">Giá:</label>
                                <input asp-for="Cost" type="text" class="form-control">
                                <span asp-validation-for="Cost" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Date">Ngày phát hành:</label>
                                <input asp-for="Date" type="datetime-local" class="form-control">
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Number">Số lượng:</label>
                                <input asp-for="Number" type="text" class="form-control">
                                <span asp-validation-for="Number" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Authors">Tác giả:</label>
                                <input asp-for="Authors" type="text" class="form-control">
                                <span asp-validation-for="Authors" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="KindOfBookId">Loại sách:</label>
                                <select asp-for="KindOfBookId" class="form-control" id="exampleFormControlSelect2" asp-items="ViewBag.KindOfBookId">
                                    <option selected="" disabled="">Loại sách</option>
                                </select>
                                <span asp-validation-for="KindOfBookId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label" asp-for="productImage"></label>
                                <input class="form-control" type="file" id="formFile" asp-for="productImage">
                                <span asp-validation-for="productImage" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Tạo</button>
                            <button type="reset" class="btn btn-danger">Trở lại</button>
                        </form>

                        <div>
                            <a asp-action="Index">Quay lại danh sách sách</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>