@using BookStore.Util;
@model PaginatedList<BookStore.Models.Book>

<div class="search-result-items">
    @foreach (Book book in Model)
    {
        <li class="list-group-item pr-0">
            <a href="#" class="result-link">
                <div class="row">
                    <div class="col-md-4 p-0 d-flex justify-content-center align-items-end ">
                        <img src="@book.imageUrl" alt="Hình ảnh sản phẩm" class="img-thumbnail">
                    </div>
                    <div class="col-md-6 p-0 ml-2 d-flex flex-column justify-content-end align-items-start">
                        <h5 class="product-name">@book.Name</h5>
                        <p class="product-price m-0">100.000 ₫</p>
                    </div>
                </div>
            </a>
        </li>
    }
</div>