@model BookStore.Models.BookInvoicesOut

@{
    Layout = "~/Areas/Admin/Views/Shared/Admin/MainLayout.cshtml";
    ViewBag.breadcrumb = "Chi tiết xuất hoá đơn";
}


<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div>
                            <h4>Chi tiết xuất hoá đơn </h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    ID Hoá đơn xuất
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.InvoicesOutId)
                                </dd>
                                <dt class="col-sm-2">
                                    ID sách
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.BookId)
                                </dd>
                                <dt class="col-sm-2">
                                    Số lượng
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Quantity)
                                </dd>
                            </dl>
                            <a asp-action="Index">Quay lại danh sách xuất hoá đơn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>