@model BookStore.Models.Customer

@{
    Layout = "~/Areas/Admin/Views/Shared/Admin/MainLayout.cshtml";
    ViewBag.breadcrumb = "Khách hàng";
}


<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Xoá</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <h3>Bạn có chắc chắn muốn xoá không?</h3>
                        <div>
                            <h4>Khách hàng</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    Tên
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    Địa chỉ
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Address)
                                </dd>
                            </dl>

                            <form asp-action="DeleteConfirmed">
                                <input type="hidden" asp-for="CustomerId" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-action="Index">Quay lại danh sách khách hàng</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>